{% extends 'stnk/index.html' %} {% block content %}

<div class="container mt-5 col-lg-7">
  

  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <header class="card-header">
          <h4 class="card-title mt-2 text-center">Tambah User</h4>
        </header>
        <article class="card-body">
          {% load widget_tweaks %}
          <form
            method="post"
            class="
              needs-validation
              {%
              if
              user_form.errors
              %}was-validated{%
              endif
              %}
            "
            novalidate
          >
            {% csrf_token %}
             <div class="form-group">
		<label>{{ user_form.username.label }}</label>
		{% if user_form.is_bound %}
            {% if user_form.username.errors %}
                {% render_field user_form.username class="form-control is-invalid" %}
            {% else %}
                {% render_field user_form.username class="form-control is-valid" %}
            {% endif %}
        {% else %}
            {% render_field user_form.username class="form-control" %}
        {% endif %}
        {% for error in user_form.username.errors %}
            <div class="invalid-feedback">{{ error }}</div>
        {% endfor %}
	</div> <!-- form-group end.// -->
  <div class="form-group">
		<label>{{ user_form.email.label }}</label>
		{% if user_form.is_bound %}
            {% if user_form.email.errors %}
                {% render_field user_form.email class="form-control is-invalid" %}
            {% else %}
                {% render_field user_form.email class="form-control is-valid" %}
            {% endif %}
        {% else %}
            {% render_field user_form.email class="form-control" %}
        {% endif %}
        {% for error in user_form.email.errors %}
            <div class="invalid-feedback">{{ error }}</div>
        {% endfor %}
	</div> <!-- form-group end.// -->
  <div class="form-group">
		<label>{{ user_form.password1.label }}</label>
	    {% if user_form.is_bound %}
            {% if user_form.password1.errors %}
                {% render_field user_form.password1 class="form-control is-invalid" %}
            {% else %}
                {% render_field user_form.password1 class="form-control is-valid" %}
            {% endif %}
        {% else %}
            {% render_field user_form.password1 class="form-control" %}
        {% endif %}
        {% for error in user_form.password1.errors %}
            <div class="invalid-feedback">{{ error }}</div>
        {% endfor %}
    </div> <!-- form-group end.// -->  
    <div class="form-group">
		<label>{{ user_form.password2.label }}</label>
	    {% if user_form.is_bound %}
            {% if user_form.password2.errors %}
                {% render_field user_form.password2 class="form-control is-invalid" %}
            {% else %}
                {% render_field user_form.password2 class="form-control is-valid" %}
            {% endif %}
        {% else %}
            {% render_field user_form.password2 class="form-control" %}
        {% endif %}
        {% for error in user_form.password2.errors %}
            <div class="invalid-feedback">{{ error }}</div>
        {% endfor %}
	</div> <!-- form-group end.// -->  
  <div class="form-group">
		<label>{{ user_form.profile.role.label }}</label>
	    {% if role.is_bound %}
            {% if role.role.errors %}
                {% render_field role.role class="form-control is-invalid" %}
            {% else %}
                {% render_field role.role class="form-control is-valid" %}
            {% endif %}
        {% else %}
            {% render_field role.role class="form-control" %}
        {% endif %}
        {% for error in role.role.errors %}
            <div class="invalid-feedback">{{ error }}</div>
        {% endfor %}
	</div> <!-- form-group end.// -->  
    <div class="form-group">
            <div class="form-group">
              <button type="submit" class="btn btn-primary btn-block">
                Tambah
              </button>
            </div>
            <!-- form-group// -->
          </form>
        </article>
        <!-- card-body end .// -->
      </div>
      <!-- card.// -->
    </div>
    <!-- col.//-->
  </div>
  <!-- row.//-->
</div>

{% endblock %}
